*{
    margin: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar{
    padding: 5vh 5vw 30vh 1.5vw;
    color: white;
    background-color: rgb(8, 159, 247);
    grid-row: 1/5;
    grid-column-start: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15vh;
    align-content: start;
}

.group{
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
    row-gap: 1vh;
    justify-items: start;
}

.pic{
    grid-column: 1/2;
}


.header{
    grid-column: 2/3;
    grid-row-start: 1;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    padding: 5vh 5vw 2vh 1.5vw;
    column-gap: 20vw;
    row-gap: 5vh;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 5px 5px grey;
}

.search-bar{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 6fr;
    column-gap: 1vw;
}

.input{
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
}

.user-info-small{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 0.5vw;
    text-align: right;
}

.user-info-large{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 10fr;
    column-gap: 0.25vw;
    align-items: center;
}

.avatar{
    width: min-content;
}

.action-buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5vw;
    justify-items: end;
}

button{
    width: 100px;
    height: 40px;
    color: white;
    display: grid;
    align-items: center;
    background-color: rgb(8, 159, 247);
    border-radius: 150px;
    text-align: center;
    border: none;
}

.main-content{
    background-color: rgb(214, 214, 214);
    grid-column: 2/3;
    grid-row: 2/4;
    display: grid;
    padding: 3vh 5vw 1vh 2vw;
    display: grid;
    align-content: start;
    grid-template-columns: 4fr 1fr;
}

.announcements{
    grid-column-start: 2;
}

.card-container{
    display: grid;
    grid-column-start: 1;
    align-content: start;
    gap: 15px;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    padding: 2vh 2vw 2vh 0vw;
}

.cards{
    height: 140px;
    border-radius: 10px;
    background-color: white;
    border-left: 10px solid orange;
    display: grid;
    align-items: center;
    align-content: start;
    padding: 3vh 5vw 1vh 2vw;
}